.footer {
    margin: 90px 0 0;
    &__content {
        border-top: 1px solid #D8D8D8;
        display: flex;
        padding: 80px 0 50px 0;
    }
    &__col {
        &_main {
            flex: 0 1 250px
        }
        &_subscribe {
            flex-basis: 290px;
        }
    }
    &__popup {
        background-color: (rgba(0, 0, 0, 0.8));
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
        overflow: auto;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease 0s;
        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            min-height: 100%;
            transform: scale();
        }
        &-content {
            background-color: $white;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 20px;
            width: 100%;
            height: 250px;
            max-width: 550px;
            transform: scale(0.2);
            transition: all 0.3s ease 0s;
        }
        &-body {
            display: flex;
            align-items: center;
            opacity: 0;
            transition: opacity 0.15s ease 0s;
        }
        &-icon {
            margin: 0 12px 0 0;
            svg {
                fill: $greenAccents;
                width: 48px;
                height: 48px;
                vertical-align: top;
            }
        }
        &-text {
            font-size: 32px;
            font-weight: 700;
            line-height: 1.2;
        }
        &-close {
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 20px;
            width: 30px;
            height: 30px;
            &:before, &:after {
                background-color: $black;
                border-radius: 4px;
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 1px;
                transition: background-color 0.2s ease 0s;
            }
            &:before {
                transform: rotate(-45deg);
            }
            &:after {
                transform: rotate(45deg);
            }
            @media (any-hover: hover) {
                &:hover {
                    &:before, &:after {
                        background-color: #000;
                    }
                }
            }
        }
        &_open {
            opacity: 1;
            visibility: visible;
        }
        &_open &-content {
            transform: scale(1);
        }
        &_open &-body {
            opacity: 1;
            transition: opacity 0.15s ease 0.3s;
        }
    }
    @include min_desktop {
        &__col {
            & + & {
                margin: 0 0 0 6.45%
            }
        }
    }
    @media (max-width: 1280px) {
        &__content {
            flex-wrap: wrap;
        }
        &__col {
            &_main {
                flex-basis: 100%;
                margin: 0 0 20px;
            }
            &_list {
                & + & {
                    margin: 0 0 0 80px;
                }
            }
            &_subscribe {
                margin-left: auto
            }
        }
    }
    @include tablet {
        &__content {
            padding: 50px 0;
        }
        &__col {
            &_list {
                & + & {
                    margin-left: calc((100% - 728px) / 224 * 60 + 20px)
                }
            }
        }
    }
    @include gap {
        &__content {
            margin: 0 -15px;
            padding: 30px 15px;
        }
        &__col {
            &_list {
                & + & {
                    margin-left: auto;
                }
            }
            &_subscribe {
                margin: 20px 0 0;
                flex-basis: 100%;
            }
        }
    }
    @include phone {
        &__col {
            &_list + &_list, &_subscribe {
                margin: 20px 0 0;
            }
            &_list {
                flex-basis: 100%;
                .col-footer__list {
                    display: none;
                    margin-top: 16px;
                }
                .col-footer__title {
                    cursor: pointer;
                    margin-bottom: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    transition: color 0.2s ease 0s;
                    &:after {
                        content: "\e900";
                        color: inherit;
                        font-family: "icon";
                        font-size: 14px;
                        margin-left: 10px;
                        transition: all 0.2s ease 0s;
                    }
                    @media (any-hover: hover) {
                        &:hover {
                            color: $orange
                        }
                    }
                }
                &_open {
                    .col-footer__list {
                        display: block;
                    }
                    .col-footer__title {
                        color: $orange;
                        &:after {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
        }
        &__popup {
            &-container {
                padding-left: 10px;
                padding-right: 10px;
            }
            &-close {
                right: 10px;
                width: 20px;
                height: 20px;
            }
            &-content {
                padding-left: 10px;
                padding-right: 10px;
            }
            &-icon {
                margin-right: 8px;
                svg {
                    width: 32px;
                    height: 32px;
                }
            }
            &-text {
                font-size: 20px;
            }
        }
    }
}

.col-footer {
    &__title {
        color: black;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        margin: 0 0 16px
    }
    &__list-item {
        color: #616161;
        font-size: 16px;
        line-height: 1.5;
        width: fit-content;
        & + & {
            margin: 16px 0 0;
        }
        @media (any-hover: hover) {
            &:hover {
                .col-footer__list-link,
                .col-footer__list-icon {
                    color: $orange
                }
            }
        }
    }
    &__list-link {
        transition: color 0.15s ease 0s;
    }
    &__list-icon {
        color: #898989;
        margin: 0 8px 0 0;
        transition: color 0.15s ease 0s;
    }
    &__form {
        display: flex;
        position: relative;
        max-width: 480px;
        &_error {
            .col-footer__form-error-message {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__form-input {
        background-color: #F4F5F7;
        color: #828282;
        flex: 1 1 auto;
        font-size: 16px;
        line-height: 24px;
        padding: 10px 12px;
        &:placeholder {
            color: #828282;
        }
    }
    &__form-error-message {
        color: $redAccents;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease 0s;
    }
    &__form-submit {
        background-color: $orange;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 20px;
        margin: 0 0 0 5px;
        width: 44px;
        transition: background-color 0.2s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $darkOrange;
            }
        }
    }
}