section.advantages 
    .container 
        .content 
            ul.advantages__list 
                li.advantages__list-item.advantage
                    .advantage__icon 
                        img(src="./images/advantages/01.svg", alt="image")
                    .advantage__body 
                        .advantage__name High Quality
                        .advantage__text crafted from top materials
                li.advantages__list-item.advantage
                    .advantage__icon 
                        img(src="./images/advantages/02.svg", alt="image")
                    .advantage__body 
                        .advantage__name Warrany Protection
                        .advantage__text Over 2 years
                li.advantages__list-item.advantage
                    .advantage__icon 
                        img(src="./images/advantages/03.svg", alt="image")
                    .advantage__body 
                        .advantage__name Free Shipping
                        .advantage__text Order over 150 $
                li.advantages__list-item.advantage
                    .advantage__icon 
                        img(src="./images/advantages/04.svg", alt="image")
                    .advantage__body 
                        .advantage__name 24 / 7 Support
                        .advantage__text Dedicated support
