footer.footer 
    .footer__container.container
        .footer__content 
            .footer__col.footer__col_main.col-footer
                p.col-footer__title Funiro.
                ul.col-footer__list 
                    li.col-footer__list-item 
                        | Worldwide furniture store since 2020. We sell over 1000+ branded products on our website
                    li.col-footer__list-item
                        span.col-footer__list-icon.icon-location
                        a.col-footer__list-link(href="#") Sawojajar Malang, Indonesia
                    li.col-footer__list-item 
                        span.col-footer__list-icon.icon-phone
                        a.col-footer__list-link(href="tel:+62894563455") +6289 456 3455
                    li.col-footer__list-item 
                        a.col-footer__list-link(href="#" target="_blank") www.funiro.com
            .footer__col.footer__col_list.col-footer 
                p.col-footer__title Menu
                ul.col-footer__list 
                    li.col-footer__list-item 
                        a.col-footer__list-link(href="#") Products 
                    li.col-footer__list-item
                        a.col-footer__list-link(href="#") Rooms
                    li.col-footer__list-item 
                        a.col-footer__list-link(href="tel:+62894563455") Inspirations
                    li.col-footer__list-item 
                        a.col-footer__list-link(href="#") About Us
                    li.col-footer__list-item 
                        a.col-footer__list-link(href="#") Terms & Policy
            .footer__col.footer__col_list.col-footer 
                p.col-footer__title Account
                ul.col-footer__list 
                    li.col-footer__list-item 
                        a.col-footer__list-link(href="#") My Account
                    li.col-footer__list-item
                        a.col-footer__list-link(href="#") Checkout
                    li.col-footer__list-item 
                        a.col-footer__list-link(href="#") My Cart
                    li.col-footer__list-item 
                        a.col-footer__list-link(href="#") My catalog
            .footer__col.footer__col_list.col-footer 
                p.col-footer__title Stay Connected
                ul.col-footer__list 
                    li.col-footer__list-item 
                        a.col-footer__list-link(href="#") Facebook
                    li.col-footer__list-item
                        a.col-footer__list-link(href="#") Instagram
                    li.col-footer__list-item 
                        a.col-footer__list-link(href="#") Twitter
                    li.col-footer__list-item 
            .footer__col.footer__col_subscribe.col-footer 
                p.col-footer__title Stay Updated
                form#footer-form.col-footer__form(action="#") 
                    input.col-footer__form-input(type="email", name="" placeholder="Enter your email")
                    span.col-footer__form-error-message
                    button.col-footer__form-submit.icon-send(type="submit") 
            .footer__popup 
                .footer__popup-container
                    .footer__popup-content 
                        span.footer__popup-close
                        .footer__popup-body 
                            .footer__popup-icon 
                                svg(focusable='false' aria-hidden='true' viewBox='0 0 24 24')
                                    path(d='M20,12A8,8 0 0,1 12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4C12.76,4 13.5,4.11 14.2, 4.31L15.77,2.74C14.61,2.26 13.34,2 12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0, 0 22,12M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z')
                            h4.footer__popup-text Thank you, for subscribe!