section.furniture 
    .furniture__header
        p.furniture__subtitle Share your setup with
        h2.furniture__title.title #FuniroFurniture
    .furniture__body
        .furniture__items
            .furniture__columns 
                .furniture__row.furniture__row_left-top
                    a.furniture__item(href="./images/furniture/09.jpg")
                        img(src="./images/furniture/09.jpg", alt="furniture")
                    a.furniture__item(href="./images/furniture/01.jpg")
                        img(src="./images/furniture/01.jpg", alt="furniture")
                    a.furniture__item(href="./images/furniture/02.jpg")
                        img(src="./images/furniture/02.jpg", alt="furniture")
                .furniture__row.furniture__row_left-bottom     
                    a.furniture__item(href="./images/furniture/04.jpg")
                        img(src="./images/furniture/04.jpg", alt="furniture")
                    a.furniture__item(href="./images/furniture/06.jpg")
                        img(src="./images/furniture/06.jpg", alt="furniture")
                    a.furniture__item(href="./images/furniture/07.jpg")
                        img(src="./images/furniture/07.jpg", alt="furniture")   
            .furniture__columns 
                .furniture__row.furniture__row_center
                    a.furniture__item(href="./images/furniture/03.jpg")
                        img(src="./images/furniture/03.jpg", alt="furniture")   
            .furniture__columns 
                .furniture__row.furniture__row_right-top
                    a.furniture__item(href="./images/furniture/04.jpg")
                        img(src="./images/furniture/04.jpg", alt="furniture")
                    a.furniture__item(href="./images/furniture/05.jpg")
                        img(src="./images/furniture/05.jpg", alt="furniture")
                    a.furniture__item(href="./images/furniture/01.jpg")
                        img(src="./images/furniture/01.jpg", alt="furniture")   
                .furniture__row.furniture__row_right-bottom  
                    a.furniture__item(href="./images/furniture/08.jpg")
                        img(src="./images/furniture/08.jpg", alt="furniture")
                    a.furniture__item(href="./images/furniture/09.jpg")
                        img(src="./images/furniture/09.jpg", alt="furniture")
                    a.furniture__item(href="./images/furniture/06.jpg")
                        img(src="./images/furniture/06.jpg", alt="furniture")  