header.header 
    .header__wrapper
        .header__container.container 
            .header__content 
                .header__main 
                    a.header__logo(href="#") Funiro.
                    nav.header__nav
                        ul.header__menu.menu 
                            li.menu__item 
                                a.menu__link(href="#") Products 
                                button.menu__arrow.icon-arrow-down 
                                ul.menu__submenu.submenu
                                    li.submenu__item 
                                        a.submenu__link(href="#") Product #1
                                    li.submenu__item 
                                        a.submenu__link(href="#") Product #2
                                    li.submenu__item 
                                        a.submenu__link(href="#") Product #3
                            li.menu__item 
                                a.menu__link(href="#") Rooms 
                                button.menu__arrow.icon-arrow-down 
                                ul.menu__submenu.submenu
                                    li.submenu__item 
                                        a.submenu__link(href="#") Room #1
                                    li.submenu__item 
                                        a.submenu__link(href="#") Room #2
                                    li.submenu__item 
                                        a.submenu__link(href="#") Room #3
                            li.menu__item 
                                a.menu__link(href="#") Inspirations
                .header__search 
                    button.header__search-icon.icon-search(type="button")
                    form.header__search-form.search-form(action="#") 
                        button.search-form__icon.icon-search(type="button")
                        input.search-form__input(type="text", name="" placeholder="Search for minimalistic chair")
                .header__actions
                    a.header__actions-item.header__actions-icon.icon-favorite(href="#") 
                    .header__actions-item.header__actions-item_cart 
                        a.header__actions-icon.icon-cart(href="#")
                        ul.header__cart-list
                    a.header__actions-item.header__avatar(href="#") 
                    .header__actions-icon.header__burger.header__burger
                        span