.main-slider 
    .container 
        .main-slider__content 
            .main-slider__card 
                h3.main-slider__card-title High-Quality Furniture Just For You
                p.main-slider__card-text Our furniture is made from selected and best quality materials that are suitable for your dream home
                a.main-slider__card-link.button.button_filled_orange(href="#") Shop now
            .main-slider__slider
                .swiper
                    .swiper-controls 
                        .swiper-pagination 
                        .swiper-arrows
                            .swiper-button-prev.swiper-arrow.swiper-arrow_color_orange.icon-arrow-down
                            .swiper-button-next.swiper-arrow.swiper-arrow_color_orange.icon-arrow-down
                    .swiper-wrapper
                        .swiper-slide
                            .swiper-slide__img 
                                img(src="./images/main-slider/01.jpg", alt="img")
                            a.swiper-slide__content(href="#") 
                                .swiper-slide__content-title Bohauss
                                .swiper-slide__content-text Luxury big sofa 2-seat
                                .swiper-slide__content-link.icon-arrow-link Rp 17.000.000
                        .swiper-slide
                            .swiper-slide__img 
                                img(src="./images/main-slider/02.jpg", alt="img")
                            a.swiper-slide__content(href="#")                    
                                .swiper-slide__content-title Bohauss
                                .swiper-slide__content-text Luxury big sofa 2-seat
                                .swiper-slide__content-link.icon-arrow-link Rp 17.000.000
                        .swiper-slide
                            .swiper-slide__img 
                                img(src="./images/main-slider/03.jpg", alt="img")
                            a.swiper-slide__content(href="#") 
                                .swiper-slide__content-title Bohauss
                                .swiper-slide__content-text Luxury big sofa 2-seat
                                .swiper-slide__content-link.icon-arrow-link Rp 17.000.000
            a.main-slider__link(href="#") Shop now