section.our-products
    .container 
        .our-products__content 
            .our-products__title.title Our Products
            .our-products__list 
                .our-products__list-item.product(data-pid="1")
                    a.product__img(href="#")
                        img(src="./images/products/01.jpg", alt="product")
                    .product__body
                        .product__name Syltherine
                        .prodcut__desc Stylish cafe chair
                        .product__price-block 
                            span.product__new-price Rp 2.500.000
                            span.product__old-price Rp 3.500.000
                        .product__actions
                            .product__actions-wrapper
                                button.product__actions-button.button.button_filled_white(type="button") Add to cart
                                a.product__actions-link.icon-share(href="#") Share
                                a.product__actions-link.icon-favorite(href="#") Like
                    .product__labels
                        .product__label.product__label_sale -30%
                        .product__label.product__label_new New
                .our-products__list-item.product(data-pid="2")
                    a.product__img(href="#")
                        img(src="./images/products/02.jpg", alt="product")
                    .product__body
                        .product__name Leviosa
                        .prodcut__desc Stylish cafe chair
                        .product__price-block 
                            span.product__new-price Rp 2.500.000
                        .product__actions
                            .product__actions-wrapper
                                button.product__actions-button.button.button_filled_white(type="button") Add to cart
                                a.product__actions-link.icon-share(href="#") Share
                                a.product__actions-link.icon-favorite(href="#") Like
                    .product__labels
                        .product__label.product__label_sale -30%
                .our-products__list-item.product(data-pid="3")
                    a.product__img(href="#")
                        img(src="./images/products/03.jpg", alt="product")
                    .product__body
                        .product__name Lolito
                        .prodcut__desc Luxury big sofa
                        .product__price-block 
                            span.product__new-price Rp 7.000.000
                            span.product__old-price Rp 14.000.000
                        .product__actions
                            .product__actions-wrapper
                                button.product__actions-button.button.button_filled_white(type="button") Add to cart
                                a.product__actions-link.icon-share(href="#") Share
                                a.product__actions-link.icon-favorite(href="#") Like
                    .product__labels
                        .product__label.product__label_sale -30%
                .our-products__list-item.product(data-pid="4")
                    a.product__img(href="#")
                        img(src="./images/products/04.jpg", alt="product")
                    .product__body
                        .product__name Respira
                        .prodcut__desc Minimalist fan
                        .product__price-block 
                            span.product__new-price Rp 500.000
                        .product__actions
                            .product__actions-wrapper
                                button.product__actions-button.button.button_filled_white(type="button") Add to cart
                                a.product__actions-link.icon-share(href="#") Share
                                a.product__actions-link.icon-favorite(href="#") Like
                    .product__labels
                        .product__label.product__label_sale -30%
            button.our-products__more.button.button_outlined(type="button") Show More