section.tips
    .container 
        .tips__content 
            h2.tips__title.title Tips & Tricks
            .tips__slider
                .swiper 
                    .tips__items.swiper-wrapper
                        .tip.swiper-slide
                            .tip__img 
                                img(src="./images/tips/01.jpg", alt="tip")
                            .tip__content 
                                .tip__title How to create a living room to love
                                .tip__date 20 jan 2020
                        .tip.swiper-slide
                            .tip__img 
                                img(src="./images/tips/02.jpg", alt="tip")
                            .tip__content 
                                .tip__title Solution for clean look working space
                                .tip__date 10 jan 2020
                        .tip.swiper-slide
                            .tip__img 
                                img(src="./images/tips/03.jpg", alt="tip")
                            .tip__content 
                                .tip__title Make your cooking activity more fun with good setup
                                .tip__date 20 jan 2020
                    .swiper-pagination
                    .swiper-arrows 
                        .swiper-button-prev.swiper-arrow.swiper-arrow_color_white.icon-arrow-down
                        .swiper-button-next.swiper-arrow.swiper-arrow_color_white.icon-arrow-down