doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
        link(rel="stylesheet", href="css/style.min.css")
    body 
        header.header 
            .header__overlay
            .header__wrapper
                .header__content 
                    .header__logo LOGO
                    .header__burger-wrapper
                        .header__burger.burger
                            span
                        .header__info-section
                            span Дмитров
                            a(href="tel:89256455711") 8 (925) 645-57-11
                            a(href="tel:84999999999") 8 (499) 999-99-99  
                    nav.header__nav 
                        ul.header__menu-list 
                            li.header__menu-item 
                                svg(xmlns='http://www.w3.org/2000/svg' width='25' height='21' viewbox='0 0 25 21' fill='none')
                                    rect(x='0.5' y='0.5' width='24' height='2' stroke='#417A82')
                                    rect(x='2.5' y='5.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='8.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='11.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='14.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='17.5' width='20' height='3' stroke='#417A82')
                                    path(d='M4.5 2L4.5 6' stroke='#417A82')
                                    line(x1='4.5' y1='6' x2='4.5' y2='7' stroke='#417A82')
                                    line(x1='4.5' y1='9' x2='4.5' y2='10' stroke='#417A82')
                                    line(x1='4.5' y1='11.0454' x2='4.5' y2='11.7992' stroke='#417A82')
                                    line(x1='4.5' y1='14.0601' x2='4.5' y2='14.8138' stroke='#417A82')
                                    line(x1='4.5' y1='18' x2='4.5' y2='19' stroke='#417A82')
                                    line(x1='4.5' y1='15' x2='4.5' y2='16' stroke='#417A82')
                                    line(x1='4.5' y1='12' x2='4.5' y2='13' stroke='#417A82')
                                    path(d='M20.4998 2L20.4998 5.5' stroke='#417A82')
                                    line(x1='20.4998' y1='6' x2='20.4998' y2='7' stroke='#417A82')
                                    line(x1='20.4998' y1='9' x2='20.4998' y2='10' stroke='#417A82')
                                    line(x1='20.4998' y1='18' x2='20.4998' y2='19' stroke='#417A82')
                                    line(x1='20.4998' y1='15' x2='20.4998' y2='16' stroke='#417A82')
                                    line(x1='20.4998' y1='12' x2='20.4998' y2='13' stroke='#417A82')
                                span Lorem
                            li.header__menu-item 
                                svg(xmlns='http://www.w3.org/2000/svg' width='25' height='21' viewbox='0 0 25 21' fill='none')
                                    rect(x='0.5' y='0.5' width='24' height='2' stroke='#417A82')
                                    rect(x='2.5' y='5.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='8.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='11.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='14.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='17.5' width='20' height='3' stroke='#417A82')
                                    path(d='M4.5 2L4.5 6' stroke='#417A82')
                                    line(x1='4.5' y1='6' x2='4.5' y2='7' stroke='#417A82')
                                    line(x1='4.5' y1='9' x2='4.5' y2='10' stroke='#417A82')
                                    line(x1='4.5' y1='11.0454' x2='4.5' y2='11.7992' stroke='#417A82')
                                    line(x1='4.5' y1='14.0601' x2='4.5' y2='14.8138' stroke='#417A82')
                                    line(x1='4.5' y1='18' x2='4.5' y2='19' stroke='#417A82')
                                    line(x1='4.5' y1='15' x2='4.5' y2='16' stroke='#417A82')
                                    line(x1='4.5' y1='12' x2='4.5' y2='13' stroke='#417A82')
                                    path(d='M20.4998 2L20.4998 5.5' stroke='#417A82')
                                    line(x1='20.4998' y1='6' x2='20.4998' y2='7' stroke='#417A82')
                                    line(x1='20.4998' y1='9' x2='20.4998' y2='10' stroke='#417A82')
                                    line(x1='20.4998' y1='18' x2='20.4998' y2='19' stroke='#417A82')
                                    line(x1='20.4998' y1='15' x2='20.4998' y2='16' stroke='#417A82')
                                    line(x1='20.4998' y1='12' x2='20.4998' y2='13' stroke='#417A82')
                                span Lorem 
                            li.header__menu-item 
                                svg(xmlns='http://www.w3.org/2000/svg' width='25' height='21' viewbox='0 0 25 21' fill='none')
                                    rect(x='0.5' y='0.5' width='24' height='2' stroke='#417A82')
                                    rect(x='2.5' y='5.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='8.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='11.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='14.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='17.5' width='20' height='3' stroke='#417A82')
                                    path(d='M4.5 2L4.5 6' stroke='#417A82')
                                    line(x1='4.5' y1='6' x2='4.5' y2='7' stroke='#417A82')
                                    line(x1='4.5' y1='9' x2='4.5' y2='10' stroke='#417A82')
                                    line(x1='4.5' y1='11.0454' x2='4.5' y2='11.7992' stroke='#417A82')
                                    line(x1='4.5' y1='14.0601' x2='4.5' y2='14.8138' stroke='#417A82')
                                    line(x1='4.5' y1='18' x2='4.5' y2='19' stroke='#417A82')
                                    line(x1='4.5' y1='15' x2='4.5' y2='16' stroke='#417A82')
                                    line(x1='4.5' y1='12' x2='4.5' y2='13' stroke='#417A82')
                                    path(d='M20.4998 2L20.4998 5.5' stroke='#417A82')
                                    line(x1='20.4998' y1='6' x2='20.4998' y2='7' stroke='#417A82')
                                    line(x1='20.4998' y1='9' x2='20.4998' y2='10' stroke='#417A82')
                                    line(x1='20.4998' y1='18' x2='20.4998' y2='19' stroke='#417A82')
                                    line(x1='20.4998' y1='15' x2='20.4998' y2='16' stroke='#417A82')
                                    line(x1='20.4998' y1='12' x2='20.4998' y2='13' stroke='#417A82')
                                span Lorem 
                            li.header__menu-item 
                                svg(xmlns='http://www.w3.org/2000/svg' width='25' height='21' viewbox='0 0 25 21' fill='none')
                                    rect(x='0.5' y='0.5' width='24' height='2' stroke='#417A82')
                                    rect(x='2.5' y='5.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='8.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='11.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='14.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='17.5' width='20' height='3' stroke='#417A82')
                                    path(d='M4.5 2L4.5 6' stroke='#417A82')
                                    line(x1='4.5' y1='6' x2='4.5' y2='7' stroke='#417A82')
                                    line(x1='4.5' y1='9' x2='4.5' y2='10' stroke='#417A82')
                                    line(x1='4.5' y1='11.0454' x2='4.5' y2='11.7992' stroke='#417A82')
                                    line(x1='4.5' y1='14.0601' x2='4.5' y2='14.8138' stroke='#417A82')
                                    line(x1='4.5' y1='18' x2='4.5' y2='19' stroke='#417A82')
                                    line(x1='4.5' y1='15' x2='4.5' y2='16' stroke='#417A82')
                                    line(x1='4.5' y1='12' x2='4.5' y2='13' stroke='#417A82')
                                    path(d='M20.4998 2L20.4998 5.5' stroke='#417A82')
                                    line(x1='20.4998' y1='6' x2='20.4998' y2='7' stroke='#417A82')
                                    line(x1='20.4998' y1='9' x2='20.4998' y2='10' stroke='#417A82')
                                    line(x1='20.4998' y1='18' x2='20.4998' y2='19' stroke='#417A82')
                                    line(x1='20.4998' y1='15' x2='20.4998' y2='16' stroke='#417A82')
                                    line(x1='20.4998' y1='12' x2='20.4998' y2='13' stroke='#417A82')
                                span Lorem 
                            li.header__menu-item 
                                svg(xmlns='http://www.w3.org/2000/svg' width='25' height='21' viewbox='0 0 25 21' fill='none')
                                    rect(x='0.5' y='0.5' width='24' height='2' stroke='#417A82')
                                    rect(x='2.5' y='5.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='8.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='11.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='14.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='17.5' width='20' height='3' stroke='#417A82')
                                    path(d='M4.5 2L4.5 6' stroke='#417A82')
                                    line(x1='4.5' y1='6' x2='4.5' y2='7' stroke='#417A82')
                                    line(x1='4.5' y1='9' x2='4.5' y2='10' stroke='#417A82')
                                    line(x1='4.5' y1='11.0454' x2='4.5' y2='11.7992' stroke='#417A82')
                                    line(x1='4.5' y1='14.0601' x2='4.5' y2='14.8138' stroke='#417A82')
                                    line(x1='4.5' y1='18' x2='4.5' y2='19' stroke='#417A82')
                                    line(x1='4.5' y1='15' x2='4.5' y2='16' stroke='#417A82')
                                    line(x1='4.5' y1='12' x2='4.5' y2='13' stroke='#417A82')
                                    path(d='M20.4998 2L20.4998 5.5' stroke='#417A82')
                                    line(x1='20.4998' y1='6' x2='20.4998' y2='7' stroke='#417A82')
                                    line(x1='20.4998' y1='9' x2='20.4998' y2='10' stroke='#417A82')
                                    line(x1='20.4998' y1='18' x2='20.4998' y2='19' stroke='#417A82')
                                    line(x1='20.4998' y1='15' x2='20.4998' y2='16' stroke='#417A82')
                                    line(x1='20.4998' y1='12' x2='20.4998' y2='13' stroke='#417A82')
                                span Lorem 
                            li.header__menu-item 
                                svg(xmlns='http://www.w3.org/2000/svg' width='25' height='21' viewbox='0 0 25 21' fill='none')
                                    rect(x='0.5' y='0.5' width='24' height='2' stroke='#417A82')
                                    rect(x='2.5' y='5.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='8.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='11.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='14.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='17.5' width='20' height='3' stroke='#417A82')
                                    path(d='M4.5 2L4.5 6' stroke='#417A82')
                                    line(x1='4.5' y1='6' x2='4.5' y2='7' stroke='#417A82')
                                    line(x1='4.5' y1='9' x2='4.5' y2='10' stroke='#417A82')
                                    line(x1='4.5' y1='11.0454' x2='4.5' y2='11.7992' stroke='#417A82')
                                    line(x1='4.5' y1='14.0601' x2='4.5' y2='14.8138' stroke='#417A82')
                                    line(x1='4.5' y1='18' x2='4.5' y2='19' stroke='#417A82')
                                    line(x1='4.5' y1='15' x2='4.5' y2='16' stroke='#417A82')
                                    line(x1='4.5' y1='12' x2='4.5' y2='13' stroke='#417A82')
                                    path(d='M20.4998 2L20.4998 5.5' stroke='#417A82')
                                    line(x1='20.4998' y1='6' x2='20.4998' y2='7' stroke='#417A82')
                                    line(x1='20.4998' y1='9' x2='20.4998' y2='10' stroke='#417A82')
                                    line(x1='20.4998' y1='18' x2='20.4998' y2='19' stroke='#417A82')
                                    line(x1='20.4998' y1='15' x2='20.4998' y2='16' stroke='#417A82')
                                    line(x1='20.4998' y1='12' x2='20.4998' y2='13' stroke='#417A82')
                                span Lorem 
                            li.header__menu-item 
                                svg(xmlns='http://www.w3.org/2000/svg' width='25' height='21' viewbox='0 0 25 21' fill='none')
                                    rect(x='0.5' y='0.5' width='24' height='2' stroke='#417A82')
                                    rect(x='2.5' y='5.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='8.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='11.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='14.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='17.5' width='20' height='3' stroke='#417A82')
                                    path(d='M4.5 2L4.5 6' stroke='#417A82')
                                    line(x1='4.5' y1='6' x2='4.5' y2='7' stroke='#417A82')
                                    line(x1='4.5' y1='9' x2='4.5' y2='10' stroke='#417A82')
                                    line(x1='4.5' y1='11.0454' x2='4.5' y2='11.7992' stroke='#417A82')
                                    line(x1='4.5' y1='14.0601' x2='4.5' y2='14.8138' stroke='#417A82')
                                    line(x1='4.5' y1='18' x2='4.5' y2='19' stroke='#417A82')
                                    line(x1='4.5' y1='15' x2='4.5' y2='16' stroke='#417A82')
                                    line(x1='4.5' y1='12' x2='4.5' y2='13' stroke='#417A82')
                                    path(d='M20.4998 2L20.4998 5.5' stroke='#417A82')
                                    line(x1='20.4998' y1='6' x2='20.4998' y2='7' stroke='#417A82')
                                    line(x1='20.4998' y1='9' x2='20.4998' y2='10' stroke='#417A82')
                                    line(x1='20.4998' y1='18' x2='20.4998' y2='19' stroke='#417A82')
                                    line(x1='20.4998' y1='15' x2='20.4998' y2='16' stroke='#417A82')
                                    line(x1='20.4998' y1='12' x2='20.4998' y2='13' stroke='#417A82')
                                span Lorem 
                            li.header__menu-item 
                                svg(xmlns='http://www.w3.org/2000/svg' width='25' height='21' viewbox='0 0 25 21' fill='none')
                                    rect(x='0.5' y='0.5' width='24' height='2' stroke='#417A82')
                                    rect(x='2.5' y='5.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='8.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='11.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='14.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='17.5' width='20' height='3' stroke='#417A82')
                                    path(d='M4.5 2L4.5 6' stroke='#417A82')
                                    line(x1='4.5' y1='6' x2='4.5' y2='7' stroke='#417A82')
                                    line(x1='4.5' y1='9' x2='4.5' y2='10' stroke='#417A82')
                                    line(x1='4.5' y1='11.0454' x2='4.5' y2='11.7992' stroke='#417A82')
                                    line(x1='4.5' y1='14.0601' x2='4.5' y2='14.8138' stroke='#417A82')
                                    line(x1='4.5' y1='18' x2='4.5' y2='19' stroke='#417A82')
                                    line(x1='4.5' y1='15' x2='4.5' y2='16' stroke='#417A82')
                                    line(x1='4.5' y1='12' x2='4.5' y2='13' stroke='#417A82')
                                    path(d='M20.4998 2L20.4998 5.5' stroke='#417A82')
                                    line(x1='20.4998' y1='6' x2='20.4998' y2='7' stroke='#417A82')
                                    line(x1='20.4998' y1='9' x2='20.4998' y2='10' stroke='#417A82')
                                    line(x1='20.4998' y1='18' x2='20.4998' y2='19' stroke='#417A82')
                                    line(x1='20.4998' y1='15' x2='20.4998' y2='16' stroke='#417A82')
                                    line(x1='20.4998' y1='12' x2='20.4998' y2='13' stroke='#417A82')
                                span Lorem 
                            li.header__menu-item 
                                svg(xmlns='http://www.w3.org/2000/svg' width='25' height='21' viewbox='0 0 25 21' fill='none')
                                    rect(x='0.5' y='0.5' width='24' height='2' stroke='#417A82')
                                    rect(x='2.5' y='5.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='8.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='11.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='14.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='17.5' width='20' height='3' stroke='#417A82')
                                    path(d='M4.5 2L4.5 6' stroke='#417A82')
                                    line(x1='4.5' y1='6' x2='4.5' y2='7' stroke='#417A82')
                                    line(x1='4.5' y1='9' x2='4.5' y2='10' stroke='#417A82')
                                    line(x1='4.5' y1='11.0454' x2='4.5' y2='11.7992' stroke='#417A82')
                                    line(x1='4.5' y1='14.0601' x2='4.5' y2='14.8138' stroke='#417A82')
                                    line(x1='4.5' y1='18' x2='4.5' y2='19' stroke='#417A82')
                                    line(x1='4.5' y1='15' x2='4.5' y2='16' stroke='#417A82')
                                    line(x1='4.5' y1='12' x2='4.5' y2='13' stroke='#417A82')
                                    path(d='M20.4998 2L20.4998 5.5' stroke='#417A82')
                                    line(x1='20.4998' y1='6' x2='20.4998' y2='7' stroke='#417A82')
                                    line(x1='20.4998' y1='9' x2='20.4998' y2='10' stroke='#417A82')
                                    line(x1='20.4998' y1='18' x2='20.4998' y2='19' stroke='#417A82')
                                    line(x1='20.4998' y1='15' x2='20.4998' y2='16' stroke='#417A82')
                                    line(x1='20.4998' y1='12' x2='20.4998' y2='13' stroke='#417A82')
                                span Lorem 
                            li.header__menu-item 
                                svg(xmlns='http://www.w3.org/2000/svg' width='25' height='21' viewbox='0 0 25 21' fill='none')
                                    rect(x='0.5' y='0.5' width='24' height='2' stroke='#417A82')
                                    rect(x='2.5' y='5.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='8.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='11.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='14.5' width='20' height='3' stroke='#417A82')
                                    rect(x='2.5' y='17.5' width='20' height='3' stroke='#417A82')
                                    path(d='M4.5 2L4.5 6' stroke='#417A82')
                                    line(x1='4.5' y1='6' x2='4.5' y2='7' stroke='#417A82')
                                    line(x1='4.5' y1='9' x2='4.5' y2='10' stroke='#417A82')
                                    line(x1='4.5' y1='11.0454' x2='4.5' y2='11.7992' stroke='#417A82')
                                    line(x1='4.5' y1='14.0601' x2='4.5' y2='14.8138' stroke='#417A82')
                                    line(x1='4.5' y1='18' x2='4.5' y2='19' stroke='#417A82')
                                    line(x1='4.5' y1='15' x2='4.5' y2='16' stroke='#417A82')
                                    line(x1='4.5' y1='12' x2='4.5' y2='13' stroke='#417A82')
                                    path(d='M20.4998 2L20.4998 5.5' stroke='#417A82')
                                    line(x1='20.4998' y1='6' x2='20.4998' y2='7' stroke='#417A82')
                                    line(x1='20.4998' y1='9' x2='20.4998' y2='10' stroke='#417A82')
                                    line(x1='20.4998' y1='18' x2='20.4998' y2='19' stroke='#417A82')
                                    line(x1='20.4998' y1='15' x2='20.4998' y2='16' stroke='#417A82')
                                    line(x1='20.4998' y1='12' x2='20.4998' y2='13' stroke='#417A82')
                                span Lorem 
                    .header__search-panel 
                        svg(xmlns='http://www.w3.org/2000/svg' width='11' height='13' viewbox='0 0 11 13' fill='none')
                            circle(cx='4.5' cy='4.5' r='4' transform='matrix(-1 0 0 1 9 0)' stroke='#417A82')
                            path(d='M6.50012 7.5L10.4242 12.5435' stroke='#417A82')
                        input(type="text" placeholder="Поиск")
                    .header__about 
                        ul.header__about-list
                            li.header__about-item О компании
                            li.header__about-item Отзывы
                            li.header__about-item Коммерческим покупателям
                            li.header__about-item Контакты 
        .desktop-header
            .container.desktop-header__container
                button.desktop-header__button.button(type="button") Заказать размер
                .desktop-header__cart 
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none">
                        <path d="M8.37885 3.74324H18.9599L17.7843 10.4054H7.59507L4.45993 1H0.541016" stroke="#417A82" stroke-linejoin="round"/>
                        <circle cx="9.16229" cy="13.9323" r="1.06757" stroke="#417A82"/>
                        <circle cx="16.217" cy="13.9323" r="1.06757" stroke="#417A82"/>
                    </svg>
        .mobile-header 
            .container.mobile-header__container
                .mobile-header__burger.burger
                    span
                .mobile-header__logo Logo 
                .mobile-header__cart
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 16" fill="none">
                        <path d="M8.37885 3.74324H18.9599L17.7843 10.4054H7.59507L4.45993 1H0.541016" stroke="#417A82" stroke-linejoin="round"/>
                        <circle cx="9.16229" cy="13.9323" r="1.06757" stroke="#417A82"/>
                        <circle cx="16.217" cy="13.9323" r="1.06757" stroke="#417A82"/>
                    </svg>
                    span.mobile-header__cart-badge 3

        section.banner-section
            <!-- Slider main container -->
            .swiper.banner-section__swiper
                <!-- Additional required wrapper -->
                .swiper-wrapper.banner-section__swiper-wrapper
                    <!-- Slides -->
                    .swiper-slide.banner-section__swiper-slide.banner-slide
                        img.swiper-slide__img.banner-slide__img(src="/img/banner_01.png", alt="")
                        .swiper-slide__content.banner-slide__content
                            .container
                                h2.swiper-slide__title.banner-slide__title Купите<br/><span>Что-то</span><br/>и еще <span>шторы</span>
                                p.swiper-slide__subtitle.banner-slide__subtitle «Lorem» — производитель изделий для внутренней и внешней lorem
                                button.swiper-slide__button.banner-slide__button.button(type="button") Калькулятор
                    .swiper-slide.banner-section__swiper-slide.banner-slide
                        img.swiper-slide__img.banner-slide__img(src="/img/banner_01.png", alt="")
                        .swiper-slide__content.banner-slide__content
                            .container
                                h2.swiper-slide__title.banner-slide__title Купите<br/><span>Что-то</span><br/>и еще <span>шторы</span>
                                p.swiper-slide__subtitle.banner-slide__subtitle «Lorem» — производитель изделий для внутренней и внешней lorem
                                button.swiper-slide__button.banner-slide__button.button(type="button") Калькулятор
                    .swiper-slide.banner-section__swiper-slide.banner-slide
                        img.swiper-slide__img.banner-slide__img(src="/img/banner_01.png", alt="")
                        .swiper-slide__content.banner-slide__content
                            .container
                                h2.swiper-slide__title.banner-slide__title Купите<br/><span>Что-то</span><br/>и еще <span>шторы</span>
                                p.swiper-slide__subtitle.banner-slide__subtitle «Lorem» — производитель изделий для внутренней и внешней lorem
                                button.swiper-slide__button.banner-slide__button.button(type="button") Калькулятор
                .swiper-controls.banner-section__swiper-controls
                    .container
                        .swiper-button-prev
                        .swiper-pagination
                        .swiper-button-next
        section.populars-section
            .container.populars-section__container
                .populars-section__backdrop.backdrop.backdrop_color_darkgreen
                .populars-section__backdrop.backdrop.backdrop_color_darkblue
                .populars-section__body
                    h2.populars-section__backdrop-title.backdrop-title Популярное
                    .populars-section__grid
                        .populars-section__grid-item 
                            p.populars-section__grid-item-name <span>Москитные</span> сетки
                            img.populars-section__grid-img(src="/img/grid_02.png" alt="")
                        .populars-section__grid-item 
                            p.populars-section__grid-item-name.populars-section__grid-item-name_style_italic  Lorem
                            img.populars-section__grid-img(src="/img/grid_01.png" alt="")
                        .populars-section__grid-item
                            p.populars-section__grid-item-name.populars-section__grid-item-name_color_white  Lorem
                            img.populars-section__grid-img(src="/img/grid_03.png" alt="")
                        .populars-section__grid-item 
                            P.populars-section__grid-item-name  Lorem
                            img.populars-section__grid-img(src="/img/grid_04.png" alt="")
        section.products-section
            .container
                .products-section__body
                    .swiper.products-section__swiper
                        .swiper-header.products-section__swiper-header 
                            .swiper-title.products-section__swiper-title Лучшие предложения
                            .swiper-controls.products-section__swiper-controls
                                .swiper-button-prev
                                .swiper-pagination
                                .swiper-button-next
                        .swiper-wrapper.products-list 
                            .swiper-slide.products-section__swiper-slide
                                .products-list__item.product-item
                                    .product-item__img-wrapper
                                        span.product-item__discount -10%
                                        img.product-item__img(src="/img/product_01.png", alt="")
                                        .product-item__colors
                                            .product-item__colors-wrapper
                                                span.product-item__color(style="background-color: darkorange")
                                                span.product-item__color.product-item__color_active(style="background-color: ")
                                                span.product-item__color(style="background-color: darksalmon")
                                                span.product-item__color(style="background-color: lightpink")
                                                span.product-item__color(style="background-color: lightskyblue")
                                                span.product-item__color(style="background-color: lightgoldenrodyellow")
                                                span.product-item__more-colors
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                                                        <path d="M16.7721 0.886047L8.88605 8.77209L1 0.886047" stroke="white"/>
                                                    </svg>
                                    .product-item__info
                                        .product-item__name Вертикальные жалюзи «Lorem»
                                        .product-item__prices 
                                            .product-item__actual-price <span>от</span> 1200₽
                                            .product-item__old-price 1000₽
                                        .product-item__actions
                                            button.product-item__make-request Оформить заявку
                                            .product-item__order 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="32" viewBox="0 0 37 32" fill="none">
                                                    <path d="M16.5 7.00049H37L32.5 21.5005H13.5L6.5 0.500488H0" stroke="#052E4C"/>
                                                    <circle cx="29.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                    <circle cx="16.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                </svg>
                            .swiper-slide.products-section__swiper-slide
                                .products-list__item.product-item
                                    .product-item__img-wrapper 
                                        span.product-item__discount -10%
                                        img.product-item__img(src="/img/product_02.png", alt="")
                                        .product-item__colors
                                            .product-item__colors-wrapper
                                                span.product-item__color(style="background-color: violet")
                                                span.product-item__color(style="background-color: lightpink")
                                                span.product-item__color(style="background-color: lightskyblue")
                                                span.product-item__color(style="background-color: lightgoldenrodyellow")
                                    .product-item__info
                                        .product-item__name Вертикальные жалюзи<br>«Lorem». Длинное название в три строчки
                                        .product-item__prices 
                                            .product-item__actual-price <span>от</span> 1200₽
                                            .product-item__old-price 1000₽
                                        .product-item__actions
                                            button.product-item__make-request Оформить заявку
                                            .product-item__order
                                                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="32" viewBox="0 0 37 32" fill="none">
                                                    <path d="M16.5 7.00049H37L32.5 21.5005H13.5L6.5 0.500488H0" stroke="#052E4C"/>
                                                    <circle cx="29.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                    <circle cx="16.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                </svg>
                            .swiper-slide.products-section__swiper-slide
                                .products-list__item.product-item
                                    .product-item__img-wrapper 
                                        span.product-item__discount -10%
                                        img.product-item__img(src="/img/product_03.png", alt="")
                                        .product-item__colors
                                            .product-item__colors-wrapper
                                                span.product-item__color(style="background-color: violet")
                                                span.product-item__color(style="background-color: lightgoldenrodyellow")
                                    .product-item__info
                                        .product-item__name Вертикальные жалюзи «Lorem»
                                        .product-item__prices 
                                            .product-item__actual-price <span>от</span> 8000₽
                                            .product-item__old-price 10099₽
                                        .product-item__actions
                                            button.product-item__make-request Оформить заявку
                                            .product-item__order
                                                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="32" viewBox="0 0 37 32" fill="none">
                                                    <path d="M16.5 7.00049H37L32.5 21.5005H13.5L6.5 0.500488H0" stroke="#052E4C"/>
                                                    <circle cx="29.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                    <circle cx="16.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                </svg>
                            .swiper-slide.products-section__swiper-slide
                                .products-list__item.product-item
                                    .product-item__img-wrapper 
                                        span.product-item__discount -10%
                                        img.product-item__img(src="/img/product_04.png", alt="")
                                        .product-item__colors
                                            .product-item__colors-wrapper
                                                span.product-item__color(style="background-color: pink")
                                                span.product-item__color(style="background-color: purple")
                                                span.product-item__color(style="background-color: grey")
                                    .product-item__info
                                        .product-item__name Короткое название
                                        .product-item__prices 
                                            .product-item__actual-price <span>от</span> 1200₽
                                            .product-item__old-price 1000₽
                                        .product-item__actions
                                            button.product-item__make-request Оформить заявку
                                            .product-item__order
                                                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="32" viewBox="0 0 37 32" fill="none">
                                                    <path d="M16.5 7.00049H37L32.5 21.5005H13.5L6.5 0.500488H0" stroke="#052E4C"/>
                                                    <circle cx="29.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                    <circle cx="16.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                </svg>
                            .swiper-slide.products-section__swiper-slide
                                .products-list__item.product-item
                                    .product-item__img-wrapper
                                        span.product-item__discount -10%
                                        img.product-item__img(src="/img/product_01.png", alt="")
                                        .product-item__colors
                                            .product-item__colors-wrapper
                                                span.product-item__color(style="background-color: darkorange")
                                                span.product-item__color.product-item__color_active(style="background-color: ")
                                                span.product-item__color(style="background-color: darksalmon")
                                                span.product-item__color(style="background-color: lightpink")
                                                span.product-item__color(style="background-color: lightskyblue")
                                                span.product-item__color(style="background-color: lightgoldenrodyellow")
                                                span.product-item__more-colors
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                                                        <path d="M16.7721 0.886047L8.88605 8.77209L1 0.886047" stroke="white"/>
                                                    </svg>
                                    .product-item__info
                                        .product-item__name Вертикальные жалюзи «Lorem»
                                        .product-item__prices 
                                            .product-item__actual-price <span>от</span> 1200₽
                                            .product-item__old-price 1000₽
                                        .product-item__actions
                                            button.product-item__make-request Оформить заявку
                                            .product-item__order 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="32" viewBox="0 0 37 32" fill="none">
                                                    <path d="M16.5 7.00049H37L32.5 21.5005H13.5L6.5 0.500488H0" stroke="#052E4C"/>
                                                    <circle cx="29.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                    <circle cx="16.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                </svg>
                            .swiper-slide.products-section__swiper-slide
                                .products-list__item.product-item
                                    .product-item__img-wrapper 
                                        span.product-item__discount -10%
                                        img.product-item__img(src="/img/product_02.png", alt="")
                                        .product-item__colors
                                            .product-item__colors-wrapper
                                                span.product-item__color(style="background-color: violet")
                                                span.product-item__color(style="background-color: lightpink")
                                                span.product-item__color(style="background-color: lightskyblue")
                                                span.product-item__color(style="background-color: lightgoldenrodyellow")
                                    .product-item__info
                                        .product-item__name Вертикальные жалюзи<br>«Lorem». Длинное название в три строчки
                                        .product-item__prices 
                                            .product-item__actual-price <span></span> 1200₽
                                            .product-item__old-price 1000₽
                                        .product-item__actions
                                            button.product-item__make-request Оформить заявку
                                            .product-item__order
                                                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="32" viewBox="0 0 37 32" fill="none">
                                                    <path d="M16.5 7.00049H37L32.5 21.5005H13.5L6.5 0.500488H0" stroke="#052E4C"/>
                                                    <circle cx="29.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                    <circle cx="16.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                </svg>
                            .swiper-slide.products-section__swiper-slide
                                .products-list__item.product-item
                                    .product-item__img-wrapper 
                                        span.product-item__discount -10%
                                        img.product-item__img(src="/img/product_03.png", alt="")
                                        .product-item__colors
                                            .product-item__colors-wrapper
                                                span.product-item__color(style="background-color: violet")
                                                span.product-item__color(style="background-color: lightgoldenrodyellow")
                                    .product-item__info
                                        .product-item__name Вертикальные жалюзи «Lorem»
                                        .product-item__prices 
                                            .product-item__actual-price <span>отзывами</span> 8000₽
                                            .product-item__old-price 10099₽
                                        .product-item__actions
                                            button.product-item__make-request Оформить заявку
                                            .product-item__order
                                                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="32" viewBox="0 0 37 32" fill="none">
                                                    <path d="M16.5 7.00049H37L32.5 21.5005H13.5L6.5 0.500488H0" stroke="#052E4C"/>
                                                    <circle cx="29.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                    <circle cx="16.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                </svg>
                            .swiper-slide.products-section__swiper-slide
                                .products-list__item.product-item
                                    .product-item__img-wrapper 
                                        span.product-item__discount -10%
                                        img.product-item__img(src="/img/product_04.png", alt="")
                                        .product-item__colors
                                            .product-item__colors-wrapper
                                                span.product-item__color(style="background-color: pink")
                                                span.product-item__color(style="background-color: purple")
                                                span.product-item__color(style="background-color: grey")
                                    .product-item__info
                                        .product-item__name Короткое название
                                        .product-item__prices 
                                            .product-item__actual-price <span>от</span>1200₽
                                            .product-item__old-price 1000₽
                                        .product-item__actions
                                            button.product-item__make-request Оформить заявку
                                            .product-item__order
                                                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="32" viewBox="0 0 37 32" fill="none">
                                                    <path d="M16.5 7.00049H37L32.5 21.5005H13.5L6.5 0.500488H0" stroke="#052E4C"/>
                                                    <circle cx="29.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                    <circle cx="16.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                </svg>
                            .swiper-slide.products-section__swiper-slide
                                .products-list__item.product-item
                                    .product-item__img-wrapper
                                        span.product-item__discount -10%
                                        img.product-item__img(src="/img/product_01.png", alt="")
                                        .product-item__colors
                                            .product-item__colors-wrapper
                                                span.product-item__color(style="background-color: darkorange")
                                                span.product-item__color.product-item__color_active(style="background-color: ")
                                                span.product-item__color(style="background-color: darksalmon")
                                                span.product-item__color(style="background-color: lightpink")
                                                span.product-item__color(style="background-color: lightskyblue")
                                                span.product-item__color(style="background-color: lightgoldenrodyellow")
                                                span.product-item__more-colors
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                                                        <path d="M16.7721 0.886047L8.88605 8.77209L1 0.886047" stroke="white"/>
                                                    </svg>
                                    .product-item__info
                                        .product-item__name Вертикальные жалюзи «Lorem»
                                        .product-item__prices 
                                            .product-item__actual-price <span>от</span> 1200₽
                                            .product-item__old-price 1000₽
                                        .product-item__actions
                                            button.product-item__make-request Оформить заявку
                                            .product-item__order 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="32" viewBox="0 0 37 32" fill="none">
                                                    <path d="M16.5 7.00049H37L32.5 21.5005H13.5L6.5 0.500488H0" stroke="#052E4C"/>
                                                    <circle cx="29.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                    <circle cx="16.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                </svg>
                            .swiper-slide.products-section__swiper-slide
                                .products-list__item.product-item
                                    .product-item__img-wrapper 
                                        span.product-item__discount -10%
                                        img.product-item__img(src="/img/product_02.png", alt="")
                                        .product-item__colors
                                            .product-item__colors-wrapper
                                                span.product-item__color(style="background-color: violet")
                                                span.product-item__color(style="background-color: lightpink")
                                                span.product-item__color(style="background-color: lightskyblue")
                                                span.product-item__color(style="background-color: lightgoldenrodyellow")
                                    .product-item__info
                                        .product-item__name Вертикальные жалюзи<br>«Lorem». Длинное название в три строчки
                                        .product-item__prices 
                                            .product-item__actual-price <span>от</span> 1200₽
                                            .product-item__old-price 1000₽
                                        .product-item__actions
                                            button.product-item__make-request Оформить заявку
                                            .product-item__order
                                                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="32" viewBox="0 0 37 32" fill="none">
                                                    <path d="M16.5 7.00049H37L32.5 21.5005H13.5L6.5 0.500488H0" stroke="#052E4C"/>
                                                    <circle cx="29.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                    <circle cx="16.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                </svg>
                            .swiper-slide.products-section__swiper-slide
                                .products-list__item.product-item
                                    .product-item__img-wrapper 
                                        span.product-item__discount -10%
                                        img.product-item__img(src="/img/product_03.png", alt="")
                                        .product-item__colors
                                            .product-item__colors-wrapper
                                                span.product-item__color(style="background-color: violet")
                                                span.product-item__color(style="background-color: lightgoldenrodyellow")
                                    .product-item__info
                                        .product-item__name Вертикальные жалюзи «Lorem»
                                        .product-item__prices 
                                            .product-item__actual-price <span>от</span> 8000₽
                                            .product-item__old-price 10099₽
                                        .product-item__actions
                                            button.product-item__make-request Оформить заявку
                                            .product-item__order
                                                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="32" viewBox="0 0 37 32" fill="none">
                                                    <path d="M16.5 7.00049H37L32.5 21.5005H13.5L6.5 0.500488H0" stroke="#052E4C"/>
                                                    <circle cx="29.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                    <circle cx="16.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                </svg>
                            .swiper-slide.products-section__swiper-slide
                                .products-list__item.product-item
                                    .product-item__img-wrapper 
                                        span.product-item__discount -10%
                                        img.product-item__img(src="/img/product_04.png", alt="")
                                        .product-item__colors
                                            .product-item__colors-wrapper
                                                span.product-item__color(style="background-color: pink")
                                                span.product-item__color(style="background-color: purple")
                                                span.product-item__color(style="background-color: grey")
                                    .product-item__info
                                        .product-item__name Короткое название
                                        .product-item__prices 
                                            .product-item__actual-price <span>от</span>1200₽
                                            .product-item__old-price 1000₽
                                        .product-item__actions
                                            button.product-item__make-request Оформить заявку
                                            .product-item__order
                                                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="32" viewBox="0 0 37 32" fill="none">
                                                    <path d="M16.5 7.00049H37L32.5 21.5005H13.5L6.5 0.500488H0" stroke="#052E4C"/>
                                                    <circle cx="29.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                    <circle cx="16.5" cy="29.0005" r="2.5" stroke="#052E4C"/>
                                                </svg>
        section.questions-section
            .container.questions-section__container
                .questions-section__body
                    p.questions-section__name Ваш помощник в выборе солнцезащиты
                    .questions-section__form-container
                        h3.questions-section__form-title Для какого помещения выбираете Lorem?
                        .questions-section__form-stepper
                            div.active
                                span 1
                            div
                                span 2
                            div
                                span 3
                        .questions-section__form
                            .questions-section__variants 
                                .questions-section__variants-column 
                                    label.check 
                                        input(type="checkbox" checked).check__input
                                        span.check__box
                                        span.check__text Веранда, терраса, уличное пространство
                                    label.check 
                                        input(type="checkbox" checked disabled).check__input
                                        span.check__box
                                        span.check__text Офис
                                    label.check 
                                        input(type="checkbox" disabled).check__input
                                        span.check__box
                                        span.check__text Учебное или мед. учреждение
                                    label.check 
                                        input(type="checkbox").check__input
                                        span.check__box
                                        span.check__text Помещение с проектором
                                    label.check 
                                        input(type="checkbox").check__input
                                        span.check__box
                                        span.check__text Стеклянные переговорные
                                    label.check 
                                        input(type="checkbox").check__input
                                        span.check__box
                                        span.check__text Помещение с панорамными окнами
                                .questions-section__variants-column 
                                    label.check 
                                        input(type="checkbox").check__input
                                        span.check__box
                                        span.check__text Помещение с мансардными окнами
                                    label.check 
                                        input(type="checkbox").check__input
                                        span.check__box
                                        span.check__text Кухня, столовая
                                    label.check 
                                        input(type="checkbox").check__input
                                        span.check__box
                                        span.check__text Детская
                                    label.check 
                                        input(type="checkbox").check__input
                                        span.check__box
                                        span.check__text Спальня
                                    label.check 
                                        input(type="checkbox").check__input
                                        span.check__box
                                        span.check__text Балкон
                                    label.check 
                                        input(type="checkbox").check__input
                                        span.check__box
                                        span.check__text Зимний сад
                            button.questions-section__form-button.button(type="button") Далее
        section.catalog-section 
            .container.catalog-section__container
                .catalog-section__backdrop.backdrop.backdrop_color_darkgreen
                .catalog-section__backdrop-title.backdrop-title Каталог
                .catalog-section__header 
                    h3.catalog-section__title Каталог продукции
                .catalog-section__body
                    .catalog-section__grid
                        .catalog-section__grid-item.grid-item
                            img.grid-item__img(src="img/grid_11.png", alt="")
                            p.grid-item__title Lorem
                            p.grid-item__desc Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов
                        .catalog-section__grid-item.grid-item
                            img.grid-item__img(src="img/grid_12.png", alt="")
                            p.grid-item__title Lorem
                            p.grid-item__desc Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов
                        .catalog-section__grid-item.grid-item
                            img.grid-item__img(src="img/grid_13.png", alt="")
                            p.grid-item__title Lorem
                            p.grid-item__desc Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов
                        .catalog-section__grid-item.grid-item.grid-item_slider
                            .grid-item__slide 
                                img.grid-item__slide-img(src="img/grid-slide_01.png", alt="")
                                p.grid-item__slide-title  Lorem
                                span.grid-item__slide-price от 100₽
                            .grid-item__slide 
                                img.grid-item__slide-img(src="img/grid-slide_02.png", alt="")
                                p.grid-item__slide-title  Lorem
                                span.grid-item__slide-price от 100₽
                            .grid-item__slide 
                                img.grid-item__slide-img(src="img/grid-slide_03.png", alt="")
                                p.grid-item__slide-title  Lorem
                                span.grid-item__slide-price от 100₽
                            .grid-item__slide 
                                img.grid-item__slide-img(src="img/grid-slide_04.png", alt="")
                                p.grid-item__slide-title  Lorem
                                span.grid-item__slide-price от 100₽
                        .catalog-section__grid-item.grid-item.grid-item_no-img 
                            p.grid-item__title Не смогли подобрать что-то конкретное?
                            p.grid-item__desc С помощью онлайн-калькулятора Вы узнаете стоимость подобранной Вами солнцезащиты
                            button.grid-item__button Калькулятор солнцезащиты
        section.services-section 
            .container.services-section__container
                .services-section__backdrop-title.backdrop-title Услуги
                .services-section__body 
                    .services-section__swiper.swiper 
                        .swiper-header.services-section__swiper-header 
                            .swiper-title Услуги
                            .swiper-controls.services-section__swiper-controls
                                .swiper-button-prev
                                .swiper-pagination
                                .swiper-button-next
                        .swiper-wrapper
                            .swiper-slide 
                                .service-item
                                    img.service-item__img(src="img/service_01.png", alt="")
                                    p.service-item__name Lorem
                                    span.service-item__desc Каждый веб-разработчик знает, что такое текст-«рыба»
                            .swiper-slide 
                                .service-item
                                    img.service-item__img(src="img/service_02.png", alt="")
                                    p.service-item__name Lorem
                                    span.service-item__desc Каждый веб-разработчик знает, что такое текст-«рыба»
                            .swiper-slide 
                                .service-item
                                    img.service-item__img(src="img/service_03.png", alt="")
                                    p.service-item__name Lorem
                                    span.service-item__desc Каждый веб-разработчик знает, что такое текст-«рыба»
                            .swiper-slide 
                                .service-item
                                    img.service-item__img(src="img/service_01.png", alt="")
                                    p.service-item__name Lorem
                                    span.service-item__desc Каждый веб-разработчик знает, что такое текст-«рыба»
                            .swiper-slide 
                                .service-item
                                    img.service-item__img(src="img/service_02.png", alt="")
                                    p.service-item__name Lorem
                                    span.service-item__desc Каждый веб-разработчик знает, что такое текст-«рыба»
                            .swiper-slide 
                                .service-item
                                    img.service-item__img(src="img/service_03.png", alt="")
                                    p.service-item__name Lorem
                                    span.service-item__desc Каждый веб-разработчик знает, что такое текст-«рыба»
                            .swiper-slide 
                                .service-item
                                    img.service-item__img(src="img/service_01.png", alt="")
                                    p.service-item__name Lorem
                                    span.service-item__desc Каждый веб-разработчик знает, что такое текст-«рыба»
                            .swiper-slide 
                                .service-item
                                    img.service-item__img(src="img/service_02.png", alt="")
                                    p.service-item__name Lorem
                                    span.service-item__desc Каждый веб-разработчик знает, что такое текст-«рыба»
                            .swiper-slide 
                                .service-item
                                    img.service-item__img(src="img/service_03.png", alt="")
                                    p.service-item__name Lorem
                                    span.service-item__desc Каждый веб-разработчик знает, что такое текст-«рыба»
                .services-section__order
                    p Оказываем услугу по всему Брянску!
                    button.button(type="button") Заказать размер
        section.customers-section
            .container.customers-section__container
                .customers-section__body
                    .customers-section__backdrop
                    .customers-section__info
                        img.customers-section__info-img(src="img/customers_01.png" alt="")
                        .customers-section__info-overlay 
                        .customers-section__info-content 
                            p.customers-section__info-title Дилерам и Дизайнерам
                            .customers-section__info-desc Каждый веб-разработчик знает, что такое текст-«рыба»Каждый веб-разработчик знает, что такое текст-«рыба»
                            button.customers-section__info-button.button(type="button") заявка на сотрудничество
                    .customers-section__info
                        img.customers-section__info-img(src="img/customers_02.png" alt="")
                        .customers-section__info-overlay 
                        .customers-section__info-content 
                            p.customers-section__info-title Коммерческим покупателям
                            .customers-section__info-desc Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов
                            button.customers-section__info-button.button(type="button") запросить коммерческое предложение
        section.discounts-section 
            .container.discounts-section__container
                .discounts-section__backdrop.backdrop
                .discounts-section__body 
                    .discounts-section__swiper-body
                        h2.discounts-section__backdrop-title.backdrop-title Акции
                        .swiper.discounts-section__swiper 
                            .swiper-wrapper
                                .swiper-slide.discounts-section__discount.discount
                                    img.discounts-section__discount-img(src="img/discount_01.png" alt="")
                                    p.discounts-section__discount-name Для коммерческих помещений
                                    .discounts-section__discount-period С 10 по 30 января
                                .swiper-slide.discounts-section__discount.discount
                                    img.discounts-section__discount-img(src="img/discount_01.png" alt="")
                                    p.discounts-section__discount-name Для коммерческих помещений
                                    .discounts-section__discount-period С 10 по 30 января
                                .swiper-slide.discounts-section__discount.discount
                                    img.discounts-section__discount-img(src="img/discount_01.png" alt="")
                                    p.discounts-section__discount-name Для коммерческих помещений
                                    .discounts-section__discount-period С 10 по 30 января
                            .swiper-controls.discounts-section__swiper-controls
                                .swiper-button-prev
                                .swiper-pagination 
                                .swiper-button-next
                    .discounts-section__info
                        h3.discounts-section__info-title Получай бонусы и скидки
                        ul.discounts-section__info-list
                            li.discounts-section__info-item
                                span Специалисты сервисного центра обладают уникальным знаниями в обслуживании американских автомобилей.
                            li.discounts-section__info-item
                                span Удобная система скидок для постоянных клиентов
        section.why-we-section
            .container.why-we-section__container
                .why-we-section__header
                    h3.why-we-section__title Почему выбирают нас?
                    .why-we-section__link О компании
                .why-we-section__body 
                        .why-we-section__reasons-list
                            .why-we-section__reasons-list-item.reason-item
                                .reason-item__icon 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" fill="none">
                                        <path d="M13.5 19.538L25.5 12.578L37.5 19.538V33.462L25.5 40.422L13.5 33.462V19.538Z" stroke="#052E4C"/>
                                        <path d="M13.2746 26.4998L31.7549 15.9803" stroke="#052E4C"/>
                                        <path d="M19.245 37.0198L37.7256 26.215" stroke="#052E4C"/>
                                        <path d="M25.7843 19.3924L37.7256 26.216" stroke="#052E4C"/>
                                        <path d="M13.2745 26.7844L25.2156 33.3235" stroke="#052E4C"/>
                                        <circle cx="26" cy="26" r="23" stroke="#052E4C" stroke-width="6" stroke-dasharray="1 6"/>
                                    </svg>
                                p.reasons-item__text Гарантия отличного качества
                            .why-we-section__reasons-list-item.reason-item
                                .reason-item__icon 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="67" height="80" viewBox="0 0 67 80" fill="none">
                                        <path d="M5.78064 50.4918L33.2097 13.8346L60.6388 50.4918H5.78064Z" stroke="#052E4C"/>
                                        <line x1="21.7366" y1="39.5" x2="44.7366" y2="39.5" stroke="#052E4C"/>
                                        <line x1="21.7366" y1="44.5" x2="44.7366" y2="44.5" stroke="#052E4C"/>
                                        <circle cx="33.2366" cy="15.5" r="15" stroke="#052E4C"/>
                                    </svg>
                                p.reasons-item__text Индивидуальное изготовление
                            .why-we-section__reasons-list-item.reason-item
                                .reason-item__icon 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="58" height="74" viewBox="0 0 58 74" fill="none">
                                        <path d="M57 36.8933L1 36.8933" stroke="#052E4C"/>
                                        <path d="M52.0503 31.8933L57 36.8431L52.0503 41.7928" stroke="#052E4C"/>
                                        <path d="M6.0498 41.7927L1.10006 36.843L6.04981 31.8932" stroke="#052E4C"/>
                                        <path d="M15.9717 58.8062L29.1201 41.2342L42.2685 58.8062L29.1201 58.8062L15.9717 58.8062Z" stroke="#052E4C"/>
                                        <path d="M42.2685 14.6469L29.1201 32.2189L15.9717 14.6469L42.2685 14.6469Z" stroke="#052E4C"/>
                                        <line x1="12.8936" y1="62.4998" x2="45.8936" y2="62.4998" stroke="#052E4C"/>
                                        <line x1="12.8936" y1="11.4998" x2="45.8936" y2="11.4998" stroke="#052E4C"/>
                                        <path d="M23.3936 24.4998H34.8936" stroke="#052E4C"/>
                                        <path d="M23.3936 48.9998H34.8936" stroke="#052E4C"/>
                                    </svg>
                                p.reasons-item__text Замер, доставка и монтаж в короткие сроки
                            .why-we-section__reasons-list-item.reason-item
                                .reason-item__icon 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="49" viewBox="0 0 80 49" fill="none">
                                        <path d="M0 12H80" stroke="#052E4C"/>
                                        <path d="M40 48V12" stroke="#052E4C"/>
                                        <path d="M40 47L23.5 12" stroke="#052E4C"/>
                                        <path d="M40 47L57 12" stroke="#052E4C"/>
                                        <path d="M9 12.4053L40.2 48L72 12.4053L64.7806 1H52.4903H40.2H27.9097H15.6194L9 12.4053Z" stroke="#052E4C"/>
                                        <path d="M16 1L23.5 12L31.5366 1L40 12L49 1L57 12L65 1" stroke="#052E4C" stroke-linejoin="bevel"/>
                                    </svg>
                                p.reasons-item__text Высокие стандарты обслуживания
                            div О компании
        section.samples-section
            .samples-section__container.container 
                .samples-section__body
                    .samples-section__backdrop
                    .swiper.samples-section__swiper
                        .swiper-header.samples-section__swiper-header
                            .swiper-title.samples-section__swiper-title Примеры работ
                            .swiper-controls.samples-section__swiper-controls
                                .swiper-button-prev
                                .swiper-button-next
                        .swiper-wrapper.samples-section__samples-list
                            .swiper-slide.samples-section__sample-item
                                .samples-section__sample-img-wrapper 
                                    img.samples-section__sample-img(src="img/sample_01.png", alt="")
                                .samples-section__sample-name Каждый веб-разработчик знает, что такое текст-«рыба».
                            .swiper-slide.samples-section__sample-item
                                .samples-section__sample-img-wrapper 
                                    img.samples-section__sample-img(src="img/sample_02.png", alt="")
                                .samples-section__sample-name Используется он веб-дизайнерами для вставки на интернет-страницы 
                            .swiper-slide.samples-section__sample-item
                                .samples-section__sample-img-wrapper 
                                    img.samples-section__sample-img(src="img/sample_03.png", alt="")
                                .samples-section__sample-name Текст этот не имеет никакого отношения к содержанию 
                            .swiper-slide.samples-section__sample-item
                                .samples-section__sample-img-wrapper 
                                    img.samples-section__sample-img(src="img/sample_01.png", alt="")
                                .samples-section__sample-name Каждый веб-разработчик знает, что такое текст-«рыба».
                            .swiper-slide.samples-section__sample-item
                                .samples-section__sample-img-wrapper 
                                    img.samples-section__sample-img(src="img/sample_02.png", alt="")
                                .samples-section__sample-name Используется он веб-дизайнерами для вставки на интернет-страницы 
                            .swiper-slide.samples-section__sample-item
                                .samples-section__sample-img-wrapper 
                                    img.samples-section__sample-img(src="img/sample_03.png", alt="")
                                .samples-section__sample-name Текст этот не имеет никакого отношения к содержанию 
        section.our-clients
            .container 
                .our-clients__header 
                    h3.our-clients__title Мы заслужили доверие<br>многих клиентов и компаний!
                .our-clients__body 
                    .our-clients__list 
                        .our-clients__client 
                            img.our-clients__client-logo(src="img/client_01.png", alt="")
                        .our-clients__client 
                            img.our-clients__client-logo(src="img/client_02.png", alt="")
                        .our-clients__client 
                            img.our-clients__client-logo(src="img/client_03.png", alt="")
                        .our-clients__client 
                            img.our-clients__client-logo(src="img/client_04.png", alt="")
                        .our-clients__client 
                            img.our-clients__client-logo(src="img/client_05.png", alt="")
                        .our-clients__client 
                            img.our-clients__client-logo(src="img/client_06.png", alt="")
                        .our-clients__client 
                            img.our-clients__client-logo(src="img/client_07.png", alt="")
                        .our-clients__client 
                            img.our-clients__client-logo(src="img/client_08.png", alt="")
                    p.our-clients__info Вы можете ознакомиться<br>с их отзывами и рекомендациями
                    button.our-clients__button.button(type="button") читать отзывы
        section.blog-section 
            .container 
                .blog-section__content
                    .blog-section__about 
                        .blog-section__title Блог
                        .blog-section__desc Полезные советы
                        a.blog-section__link 
                            span Дизайнерские решения
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 20 12" fill="none">
                                <path d="M0 6H19M19 6C19 6 14 4 13.4462 1M19 6C19 6 14 8 13.4462 11" stroke="#417A82" stroke-linejoin="bevel"/>
                            </svg>
                    .blog-section__images 
                        img.blog-section__img(src="img/blog_01.png", alt="")
                        img.blog-section__img(src="img/blog_02.png", alt="")
                        img.blog-section__img.blog-section__img_active(src="img/blog_03.png", alt="")
        footer.footer 
            .container
                .footer__content
                    .footer__cols
                        .footer__col.footer__col_first 
                            ul
                                li.footer__col-item Lorem
                                li.footer__col-item Lorem
                                li.footer__col-item Lorem
                                li.footer__col-item Lorem
                                li.footer__col-item Lorem
                                li.footer__col-item Lorem
                        .footer__col.footer_col_second
                            ul
                                li.footer__col-item О компании
                                li.footer__col-item Отзывы
                                li.footer__col-item Блог
                                li.footer__col-item Контакты
                                li.footer__col-item Коммерческим покупателям
                    .footer__col.footer__col_main
                        span.footer__logo Logo 
                        span.city Москва и МО
                        div.info
                            span Режим работы:
                            br
                            span ежедневно с 9:00 до 21:00
                        div.phones
                            a(href="tel:89555452381") 8 955 545 23 81
                            a(href="tel:89555152181") 8 955 515 21 81
                    .footer__contacts
                        .footer__calculator.button(type="button") Калькулятор
                        .footer__email 
                            span E-mail: 
                            a(href="mailto:info@lorem.ru") info@lorem.ru
                        .footer__social-links 
                            a(href="#") FB 
                            a(href="#") OK
                            a(href="#") VK
                            a(href="#") TW
                            a(href="#") IN
                            a(href="#") YT
                .footer__footer 
                    span.footer__copyright © 2020 Lorem
                    div
                        span.footer__cookies Правила использования cookie
                        span.footer__agreement Пользовательское соглашение
                        span.footer__sitemap Карта сайта
                    span Разработка — Lorem
        script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
        script(src="js/app.min.js") 

